/*Variables*/

:root{
    --pCol1: #F7FBFD;
    --pCol2: #08053B;
	--pCol3: #C90405;
	--pCol4: #E3EEEF;
    --sCol1: #BFBFBF;
    --sCol2: #7C7C7C;
	--fCol1: #050505;
	--fCol2: #F7FBFD;
    --fontFam: Arial, Helvetica, sans-serif;
    --fs_lx:3vw;
    --fs_l:2vw;
    --fs_m:1.5vw;
    --fs_s:1vw;
    --fs_xs:0.7vw;
	--lhBackground: linear-gradient(60deg, var(--pCol2), var(--pCol1),var(--pCol1),var(--pCol1), var(--pCol3));
	--ftBck: linear-gradient(0deg, var(--pCol4), var(--pCol1));
	--lhBackground2: linear-gradient(50deg, var(--pCol2), var(--pCol1),var(--pCol1),var(--pCol1), var(--pCol3));
	--lhBackground3: linear-gradient(40deg, var(--pCol2), var(--pCol1),var(--pCol1),var(--pCol1), var(--pCol3));
	--lhBackground4: linear-gradient(30deg, var(--pCol2), var(--pCol1),var(--pCol1),var(--pCol1), var(--pCol3));
	--lhBackground5: linear-gradient(70deg, var(--pCol2), var(--pCol1),var(--pCol1),var(--pCol1), var(--pCol3));

}

/* Page layout */

#SATX{
	background:var(--lhBackground);
}

#ATX{
	background:var(--lhBackground4);
}

#DTX{
	background:var(--lhBackground3);
}

#HTX{
	background:var(--lhBackground2);
}

body{
    display:flex;
	flex-direction:column;
	justify-content:flex-start;
	flex-wrap:nowrap;
	width:100%;
	height:100%;
	font-family:var(--fontFam);
}

header{
	height:20%;
	width:100%;
	font-family:var(--fontFam);
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	color: var(--fCol2);
	text-shadow: 0.1vw 0.1vh var(--pCol3);
	max-height: 200px;
}

#htxBck{
	background-image: url(Pictures/Houston.jpg);
	background-size:100% 100%;
}

#atxBck{
	background-image: url(Pictures/Austin.jpg);
	background-size:100% 100%;
}

#dtxBck{
	background-image: url(Pictures/Dallas.jpg);
	background-size:100% 100%;
}

#satxBck{
	background-image: url(Pictures/SanAntonio.jpg);
	background-size:100% 100%;
}

div.cBody{
	height:70%;
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:nowrap ;
}

nav{
	width:15%;
	font-family:var(--fontFam);
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

section{
	width:40%;
	font-family:var(--fontFam);
}

aside{
	width:45%;
	font-family:var(--fontFam);
	font-size:var(--fs_m);
}

footer{
	height:10%;
	width:100%;
	font-family:var(--fontFam);
	background-color:var(--pCol4);
	background-image: url(Pictures/blueBonnet.png);
	background-position: left bottom;
	background-repeat:repeat-x;
	background-size: 5vw;
	position:relative;
	top:5vh;
}

/* Header style */

#logoLink{
	width:20%;
	height:30%;
}

img.headerLogo{
	width:100%;
	height:100%;
}

div.headSpacer{
	width:5%;
}
div.headerText{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 80%;
}

h1.mainHeading{
	font-size:var(--fs_lx);
	height:15%;
	width:100%;
}

#homeHeading{
	height:10%;
	font-size: var(--fs_m);
	position:relative;
	top:-10%;
	left:2.5%;
	width:100%;
}

p.headerSmallText{
	font-size:var(--fs_xs);
	height:5%;
	position:relative;
	top:-20%;
	left:5%;
	width:100%;
}


/* LH Nav Style */

input.navBtn{
	width:80%;
	padding-right: 10%;
	margin-top: 5%;
	margin-bottom:5%;
	background-color: var(--pCol1);
	color: var(--pCol2);
	border-color: var(--pCol2);
	border-width:0.5vw;
	border-style:double;
	border-radius: 0px 10px 10px 0px;
	font-size:var(--fs_m);
}

input.navBtn:hover{
	color:var(--pCol2);
	padding-right:8%;
	border-color: var(--pCol3);
	font-weight:bold;
	border-style: solid;
	cursor: pointer;
}

input.navBtn_curPage{
	width:80%;
	padding-right: 10%;
	margin-top: 5%;
	margin-bottom:5%;
	background-color: var(--pCol1);
	color: var(--pCol3);
	border-color: var(--pCol3);
	border-width:0.5vw;
	border-style:double;
	border-radius: 0px 10px 10px 0px;
	font-weight:bold;
	font-size:var(--fs_m);

}

input.navBtn_curPage:hover{
	cursor: not-allowed;
}

/* Footer Style */

div.footerFrame{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

div.footerItem{
	width:15%;
	margin-bottom: 3%;
	margin-top:1%;
	margin-left:2.5%;
	margin-right:2.5%;
	color:var(--pCol3);
	font-weight: bold;
	font-size: var(--fs_s);
	background-color: var(--pCol1);
	border-style: double;
	border-radius: 10px;
	padding-left: 2vw;
}

a.btmLink{
	position: relative;
	left:10%;
}

a.btmLink:link, a.btmLink:visited{
	color:var(--pCol3);
}

a.btmLink:hover{
	color:var(--pCol2);
	font-weight: bold;
}

#twitterLink{
	position: relative;
	left:20%;
}

#contactLink{
	position: relative;
	left:25%;
}


/* Aside Sytle */

#rhList{
	list-style-type:square;
	margin-left:2%;
	margin-top: 10%;
}

img.asidePicture{
	width:50%;
	height:40%;
	margin-left:5%;
}

table.statsTable{
	color:var(--pCol2);
	border-style: double;
	border-width: 1vw;
	border-color:var(--pCol2);
	width:80%;
	text-align: left;
	background-color: var(--pCol1);
	position:relative;
	top:-3vh;
	left:5%;
	empty-cells: hide;
}

th.tHeader{
	font-size:var(--fs_m);
	border-bottom: 2px solid var(--pCol2);
}

td{
	font-size:var(--fs_s);
	border-bottom: 2px solid var(--pCol2);
}

tr {
	height:10vh;
}

tr:hover{
	color:var(--pCol1);
	background-color:var(--pCol3);
}

#sideTitle{
	font-size:var(--fs_l);
	float: left;
	border-bottom-style:solid;
	border-bottom-width: 1vh;
	border-bottom-color: var(--pCol2);
}


/*main Style*/

p.mainText{
	font-size: var(--fs_m);
	color:var(--pCol2);
}

img.mainPara_img{
	width:100%;
	height:30vh;
}

h2.paraHeader{
	font-size:var(--fs_l);
	color:var(--pCol3);
}

ul.sportsList{
	font-size:var(--fs_m)
}
